.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger
.yarn
test-nft-bind/.wallets
test-all-init
test-debug
test-init
test-lock-sol
test-nft
test-nft-bind
test-node-pool
test-referral
test-stake
test-tools